<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="chat_btn">
        </div>
        <div class="logo">
            <span class="logo_text">Safe School</span>
        </div>
        <div class="home_menu_container">
            <button class="home_menu_btn">홈</button>
            <button class="home_menu_btn">학생</button>
            <button class="home_menu_btn">학교</button>
            <button class="home_menu_btn">마이</button>
            <hr>
        </div>
        <div class="main_container">
            <p>안녕하세요.<br>세이프 스쿨 입니다.</p>
            
            <div class="menu_container">
                <button class="menu_btn">
                    <div class="note_image"></div>
                    <div class="btn_text">알림장</div>
                </button>
                <button class="menu_btn">
                    <div class="attendance_image"></div>
                    <div class="btn_text">출결</div>
                </button>
                <button class="menu_btn">
                    <div class="study_image"></div>
                    <div class="btn_text">학습</div>
                </button>
                <button class="menu_btn">
                    <div class="community_image"></div>
                    <div class="btn_text">커뮤니티</div>
                </button>
                
                <button class="menu_btn">
                    <div class="meal_image"></div>
                    <div class="btn_text">급식</div>
                </button>
                <button class="menu_btn">
                    <div class="close_image"></div>
                    <div class="btn_text">휴업/휴교일</div>
                </button>
                <button class="menu_btn">
                    <div class="weather_image"></div>
                    <div class="btn_text">날씨</div>
                </button>
                <button class="menu_btn">
                    <div class="announce_image"></div>
                    <div class="btn_text">공지/가통</div>
                </button>
            </div>
            
            <div class="note_container">
                <div class="top_information">
                    2023.09.   
                    홍길동
                </div>
                <hr>
                <div class="main_inforamtion">
                   여기에
                   <br>
                   내용이
                   <br>들어감
                   <br>
                </div>
            </div>

            <div class="end_menu_container">
                <button>이용약관</button>
                <button>개인정보 처리방침</button>
                <button>운영정책</button>
                <button>고객센터</button>
                <button>공지사항</button>
                <button>한국어</button>
                <br>
                <br>
                <br>
                <div>Copyright © JunMin Park. All rights reserved.</div>
                <br>
                <br>
            </div>

        </div>
    </div>

</body>

</html>