html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.container {
    position: absolute;
    margin: 0 auto;
    width: 800px;
    height: 100%;
    left: 0;
    right: 0;
    text-align: center;
}

.logo {
    height: 150px;
    line-height: 200px;
    /* 수직 정렬 */
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    width: 800px;
    background-color: white;
    margin: 0 auto;
}

.form_conatiner {
    margin: 0 auto;
}

.first_step{
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    width: 100px;
    height: 10px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.first_step_on {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    width: 50px;
    height: 10px;
    background-color: #868282;
    border-radius: 20px;
    z-index: 1;
}

.check_container{
    margin: 20px auto;
    width: 600px;
    height: 220px;
    text-align: left;
}

.check_container input[type="radio"] {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    vertical-align: middle; /* 수직 가운데 정렬 추가 */
}

.check_container label {
    margin-right: 30px;
    margin-left: 10px;
    font-weight: bold;
    font-size: x-large;
    user-select: none;
    vertical-align: middle; /* 수직 가운데 정렬 추가 */
}

.form-floating{
    margin: 30px;
}

.emailMessage{
    width: 400px;
    height: 50px;
    margin-left: 165px;
    text-align: right;
    line-height: 50px;
    font-weight: bold;
    user-select: none;
    
}

.end_menu_container {
    margin-top: 50px;
    width: 800px;
    height: 100px;
    user-select: none;
}

.end_menu_container button {
    border: none;
    background-color: white;
    width: 125px;
    height: 50px;
    font-size: 12px;
    font-weight: bold;
}

.end_menu_container button:hover {
    color: gray; /* 글자 색상을 회색으로 변경 */
}

.form_rectangle {
    margin: 0 auto;
    width: 600px;
    height: 550px;
    border: 2px solid #D9D9D9;
}

.big_line {
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: x-large;
}

.small_line {  
    margin-top: 5px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: left;
    color: #6F6969;
    font-size: small;
    font-weight: bold;
}

hr {
    margin-left: 30px;
    margin-right: 30px;
    border-width: 3px;
}


.next_btn {
    margin-top: 20px;
    width: 500px;
    height: 80px;
    border: none;
    background-color: #FAEDCD;
    font-size: x-large;
    font-weight: bold;
}

.next_btn:hover {
    background-color: #FAE4AE;
}
